*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-evenly;
  }
  .submit{
    display: flex;
  }
  .submit div{
    font-size: 1.4rem;
    margin-top: 15px;
    margin-left: 15px;
    height: 30px;
    width: 58%;
    /* border: 2px solid rgb(82, 82, 82); */
    border-radius: 5px;
  }
  nav a{
    text-decoration: none;
    background-color: rgb(101, 101, 99);
    color: whitesmoke;
    font-size: 1.5rem;
    /* height: 25px; */
    padding: 10px;
    border-radius: 7px;
    margin-top: 10px;
  }
   h1{
    /* text-align: center; */
    margin-right: 60%;
    margin-bottom: 25px;
    margin-top: -25px;
  } 
.form{
    margin: 100px auto 100px 40%;
  }
input{
    margin-left: 10px;
    border-radius: 5px;
    width: auto;
    height: 25px;
    border: none;
}
.p2{
    margin-top: 10px;
}
button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* margin-left: 10%; */
    padding: 7.5px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
}
.weight-guide{
    margin-top: 15px;
    
}
.weight-guide p{
    margin-top: 5px;
}
body{
    background-color: gray;
}